    /* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kode Mono";
}

    /* BODY */
body{
    background-color: #1B2A23;
    color: #D3CEC0;
    text-shadow: 0 0 0.15rem #fff;
    display: grid;
    grid-template-columns: 20vw 1fr;
    min-height: 100vh;
    scrollbar-gutter: stable;
}

    /* NAV */
nav{
    width: auto;
    height: 100vh;
    background-color: #358257;
    color: #EAE6DA;
    text-shadow: 0 0 0.12rem #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: 0;
    border-top: 2rem solid #225d3b ;
    border-bottom: 2rem solid #225d3b ;
}

.navDiv{
    height: calc(100% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navDiv:hover{
    background-color: #2f210e;
    color: #7AB87D;
    box-shadow: 0 0 0.3rem #2f210e;
    cursor: pointer;
    transition: 0.2s;
}

/* PINE RECORD */

.recordSec{
    display: none;
}

.recordSec .sec1{
    text-align: center;
    font-size: 1.5rem;
    padding: 5vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

    /* CHOIES */
.recordSec .sec2{
    background-color: #3B2B22;
    padding: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem 10rem;
    border-top: 1rem solid #2e2018;
    border-bottom: 1rem solid #2e2018;
    box-shadow: 0 0 0.5rem #1c120c;
}

.choices{
    background-color: #5B3E2F;
    width: 20vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
    box-shadow: 0 0 0.5rem #1c120c;
    font-size: 1.5rem;
    transition: 0.5s;
}

.choices:hover{
    background-color: #7C5A44;
    cursor: pointer;
    transform: translateY(-5px);
}

/* PINE TASK */

.tasksSec{
    display: none;
}

.tasksSec .sec1{
    text-align: center;
    font-size: 1.5rem;
    padding: 5vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

    /* INPUT SECTION */
.tasksSec .sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputSec{
    display: flex;
    justify-content: center;
}

.taskInput{
    height: 5vw;
    width: 40vw;
    padding-left: 1rem;
    font-size: 1.5rem;
    border-radius: 2rem 0 0 2rem;
}

.taskBtn{
    width: 10vw;
    height: 5vw;
    border-radius: 0 2rem 2rem 0;
    cursor: pointer;
}

    /* TASK SECTION */
.taskList{
    width: auto;
    background-color: #2f210e;
    margin: 3rem auto 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
}

.taskList.empty{
    display: none;
}

.taskLi {
    width: 100%;
    min-height: 6vw;
    background-color: #5B3E2F;
    color: #EAE6DA;
    padding: 0.5rem;
    padding-left: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    gap: 1rem;
}

.liP{
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.4;
}

.liBtns{
    width: 20%;
    height: 10vh;
    padding: 0.3rem 0 0.3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: #3B2B22;
    border-radius: 1rem;
}

.doneDiv, .trashDiv{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    border: 50%;
}

.check, .trash{
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked{
    background-color: #4caf50;
    color: #fff;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

/* PINE TABLE */
.tableSec{
    display: none;
}

.tableSec .sec1{
    text-align: center;
    font-size: 1.5rem;
    padding: 5vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.toggleDiv{
    background-color: #2e2018;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    padding-top: 0.5rem;
    width: 100%;
    max-width: 100%;
}

.week, .days{
    background-color: #5B3E2F;
    color: #D3CEC0;
    text-shadow: 0 0 0.15rem #fff;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
}

.week.active, .days.active {
    background-color: #7C5A44;
}


.tableSize, .daySel{
    background-color: #5B3E2F;
    color: #D3CEC0;
    text-shadow: 0 0 0.15rem #fff;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.25rem;
}

.daySel{
    display: none;
}


option{
    border-radius: none;
    border-radius: 0.5rem;
}

.ultDiv{
    background-color: #2e2018;
    display: flex;
    align-items: stretch;
    padding-top: 0.5rem;
    transform-origin: top;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.tableSec .sec2{
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #2e2018;
    overflow-x: auto;
    position: relative;
    /* padding-right: 1rem;
    padding-bottom: 1rem; */
    border-radius: 1rem;
}

.table{
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-color: #5B3E2F;
    border-collapse: collapse;
    table-layout: fixed;
}

.trHead{
    height: 25.6px;
}

.trBody{
    height: 32px;
}

.table tr th{
    padding: 0.1rem;
    text-align: center;
    border: 2px solid #2e2018;
    border-radius: 1rem;
    overflow-wrap: break-word;
    white-space: normal;
}

.table tr td{
    padding: 0.3rem;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #2e2018;
    overflow-wrap: break-word;
    white-space: normal;
}

    
.tableBtns{
    height: 100%;
    width: 5vw;
    flex-shrink: 0;
    background-color: #2e2018;
    transform-origin: left;
}

.headBtn{
    width: 100%;
    height: 25.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: auto;
}

.rowBtns{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: auto;
}

.show {
    opacity: 1;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.del, .add{
    width: 1.67vw;
}

td:focus {
    outline: none;
    box-shadow: none;
}

.table.large { width: 150%; font-size: 1.3rem; }
.table.big { width: 200%; font-size: 1.6rem; }
.table.huge { width: 250%; font-size: 1.9rem; }

.trHead.large { height: 38.4px;}
.trHead.big { height: 51.2px; }
.trHead.huge { height: 64px; }

.trBody.large { height: 48px; }
.trBody.big { height: 64px; }
.trBody.huge { height: 80px; }

.tableBtns.large { width: 6vw; }
.tableBtns.big { width: 7.5vw; }
.tableBtns.huge { width: 10vw; }

.headBtn.large { height: 38.4px;}
.headBtn.big { height: 51.2px; }
.headBtn.huge { height: 64px; }

.rowBtns.large { height: 48px; }
.rowBtns.big { height: 64px; }
.rowBtns.huge { height: 80px; }

.del.large{ width: 2vw; }
.del.big{ width: 2.505vw; }
.del.huge{ width: 3.34vw; }

.add.large{ width: 2vw; }
.add.big{ width: 2.505vw; }
.add.huge{ width: 3.34vw; }

/* MEDIA */
@media (max-width: 1200px){
    nav{
        font-size: 1.3rem;
    }
    .sec1{
        font-size: 1.2rem;
    }
    .choices{
        font-size: 1.2rem;
    }
}

@media (max-width: 900px){
    nav{
        font-size: 1rem;
    }
    .sec1{
        font-size: 0.9rem;
    }
    .choices{
        width: 40vw;
        height: 15vw;
        font-size: 1.2rem;
    } 
    .taskLi{
        gap:0.5rem
    }
    .liBtns{
        font-size: 0.9rem;
        padding-left: 0.5rem;
    }
    .doneDiv, .trashDiv{
        gap: 0.4rem
    }
    .check, .trash{
        width: 20px;
        height: 15px;
    }
}

@media (max-width: 700px){
    body{
        display: block;
    }
    nav{
        width: 100%;
        height: 6rem;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.3rem;
        border: none;
    }
    .navDiv:hover{
        background-color: transparent;
        color: inherit;
        box-shadow: none;
        cursor: default;
    }
    .sec1{
        font-size: 0.8rem;
    }
    .choices{
        width: 60vw;
        height: 17vw;
        font-size: 1.5rem;
    }
    .taskInput{
        width: 70vw;
        height: 10vw;
        font: 0.1rem;
    }
    .liBtns{
        height: 12vw;
    }
    .taskBtn{
        width: 20vw;
        height: 10vw;
    }
    .check, .trash{
        width: 15px;
        height: 12px;
    }
}

@media (max-width: 550px){
    .taskInput{
        font-size: rem;
    }
    .taskLi{
        padding-right: 0.3rem;
    }
    .liBtns{
        width: 21%;
        flex-direction: initial;
        padding: 0.5rem 0.7rem;
    }
    .doneDiv p, .trashDiv p{
        display: none;
    }
}

@media (max-width: 400px){
    nav{
        font-size: 0.9rem;
    }
    .choices{
        font-size: 1.2rem;
    }
}